:root {
    /* paleta de colores*/
    --blue-ibiza: #2E4C6D;
    --orange-acent: #FC997C;
    --blue-ibiza-light: #396EB0;
    --lightblue-ibiza: #DADDFC;

    /* medidas de textos*/
    --fs-title-desktop: 3.7rem;
    --fs-title-mobile: 3.1rem;
    --fs-subtitle-desktop: 3.1rem;
    --fs-subtitle-mobile: 2.7rem;
    --fs-regular: 1.6rem;
    --line-height: 1.5;

    --semi-bold: 600;
    --bold: 700;
    --light: 300;
    --regular: 400;

    --gallery-width: 1100px;
    /* Tamaño total de la galleria dinamica*/
    --gallery-box-full: 500px;
    /*Tamaño de la imagen en su maximo despliegue*/
    --gallery-box-tiny: 120px;
    /* (Tamaño total - Tamaño full despliegue imagen) / (cant-img - 1)*/
    --gallery-box-default: 183px;
    /*Tamaño totol de la galeria / cant-img */
    --gallery-height: 600px;
}

body {
    font-family: "Montserrat", sans-serif;
}

/*         


    Navbar - Social - Brand
    
    
*/
.canales {
    justify-content: center;
    gap: .4rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    display: inline-block;
    height: 60px;
}

.navbar-brand img {
    height: 100%;
    padding: .2rem;
}

.navbar-light .navbar-nav .nav-link {
    text-align: center;
}

body header {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

/*

    Estilos de los link de la barra de navegacion en mobile.

        - Estos mismos estilos los tuve que aplicar con una media query
        ya que de otra manera se solapaban los estilos con los dados en
        la media query "@media (min-width: 992px)"
*/
@media (max-width: 991px) {

    .canales,
    .navbar-light .navbar-nav .nav-link {
        background-color: var(--lightblue-ibiza);
        padding: 1rem 0;
        font-weight: bold;
    }

    .navbar-light .navbar-nav .nav-link.active {
        background-color: var(--orange-acent);
        color: white;
    }
}

/*
    En principio trabaje con las clases asignadas por js cuando el menu se colapsaba
    para poder aplicar mis estilos propios y que se pueda diferir entre la version
    escritorio y la mobile.
    Pero esto provocaba inconsistencias:
        
        - El menu al abrirse en modo mobile y no cerrarse, cuando se pasaba a desktop 
        no se aplicaban los estilos. Esto es porque js no cambiaba la clase hasta que
        se presionara el boton toggle.
        
        - Se provocaba un delay en el aplique de los estilos de desktop. Esto tambien
        era provocado por los ms de demora de js para aplicar las clases 
        correspondientes.

    En resumen la solucion fue trabajar con la media-query correspondiente al tamaño
    donde el menu desaparece. En este caso a los 992px el menu aparece y el boton 
    toggle desaparece. Mostrando de esta manera el navbar version desktop.
*/

@media (min-width: 992px) {
    .navbar-collapse .navbar-nav .nav-item .nav-link {
        position: relative;
        margin: 0 1.2rem;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link.active,
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: white;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link.active::before,
    .navbar-collapse .navbar-nav .nav-item .nav-link::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: -5px;
        background-color: var(--lightblue-ibiza);
        width: 35px;
        height: 35px;
        transform: translate(0%, -50%);
        z-index: -1;
        border-radius: 1.6rem;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link.active::after,
    .navbar-collapse .navbar-nav .nav-item .nav-link::after {
        content: " ";
        background-image: url(../img/assets/icons/arrow-right.svg);
        position: absolute;
        top: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        transform: translate(60%, 83%);
        transition: all .3s ease-in-out;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link.active::before,
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
        width: calc(100% + 30px);
        transition: all .3s ease-in-out;
        background-color: var(--orange-acent);
    }

    navbar-collapse .navbar-nav .nav-item .nav-link.active::after,
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
        transform: translate(80%, 83%);
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link {
        z-index: 2 !important;
    }
}

/* 

    Estilos del banner

*/
.hero-banner {
    background-image: url(../img/assets/back-white.png);
    background-position: center;
    background-attachment: fixed;
}

.hero-info {
    color: var(--blue-ibiza);
    background-color: var(--lightblue-ibiza);
    opacity: .9;
    margin: 0 2rem;
}

.hero-banner.blue {
    background-image: url(../img/assets/back.png);
}

@media (max-width: 991px) {
    .brand-logo {
        display: none;
    }
}


/*###############__- Gallery - __###############*/
/*##############################################*/

.gallery.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*Esto es un 10% del menor viewport (horizontal o vertical)*/
    margin: 10vmin auto;
    overflow: hidden;
    transform: skew(5deg);
    gap: .6rem;
}

.gallery-card {
    height: 75vmin;
}

.gallery-card img {
    flex: 1;
    transition: all 1s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.gallery-card:hover {
    flex-grow: 10;
}

.gallery-card:hover img {
    filter: grayscale(25%);
}

.gallery-card:hover img:not(:nth-child(6)) {
    margin-right: 60vmin;
}

/*###############__- Branding - __###############*/
/*##############################################*/

.brand {
    font-size: 1.1em;
    margin-bottom: 3rem;
    transition: all .3s ease-in-out;
}
.brand:hover {
    box-shadow: -2px 7px 25px 0px #2E4C6Db1;
}

.brand-img {
    padding: 0;
}

.brand-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blue-ibiza);
    background-color: var(--lightblue-ibiza);
}

.brand.container-md,
.brand.container-sm {
    padding-left: 0;
    padding-right: 0;
}