* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    width: 100%;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: none;
}