/* VARIABLES - COLORES*/
$blue-ibiza: #2E4C6D;
$orange-acent: #FC997C;
$blue-ibiza-light: #396EB0;
$lightblue-ibiza: #DADDFC;


body {
font-family: "Montserrat", sans-serif;
}
h2 {
color: $blue-ibiza;
}