.hero-banner {
    background-image: url(../img/assets/back.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.hero-banner--white {
    @extend .hero-banner;
    background-image: url(../img/assets/back-white.png);
    .hero-info {
        color: map-get($map: $colores, $key: blue-ibiza);
        background-color: map-get($map: $colores, $key: lightblue-ibiza);
        opacity: .9;
        margin: 0 2rem;
    }
    .brand-logo {
        @media (max-width: 991px){
            display: none;
        }
    }
}

