.hero-banner {
    background-image: url(../img/assets/back-white.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    .hero-info {
        color: $blue-ibiza;
        background-color: $lightblue-ibiza;
        opacity: .9;
        margin: 0 2rem;
    }
    .brand-logo {
        @media (max-width: 991px){
            display: none;
        }
    }
}
.hero-banner.blue {
    background-image: url(../img/assets/back.png);
}
