.promo-section {
    @include flex-mixin(column, center, center, 1rem);
    @media (min-width: 992px) {
        flex-direction: row;
    }

    .promo {
        min-width: 300px;
        min-height: 300px;
        order: 2;

        img {
            width: 100%;
        }

        order: 2;

    }

    .promo-info {
        order: 1;
    }
}