.historia video,
.historia .info {
    color: map-get($map: $colores, $key: blue-ibiza);
    width: Min(80%, 400px);
    height: auto;
}
.historia {
    .info {
        padding: 2rem;
    }
    article {
        gap: 2rem;
        padding: 2rem 0;
    }    
}